1 VERSIONINFO
FILEVERSION     0,9,5,1
PRODUCTVERSION  0,9,5,1
{
  BLOCK "StringFileInfo"
  {
    BLOCK "100904E4"
    {
      VALUE "FileDescription", "reQuiem"
      VALUE "FileVersion", "0.9.5.1"
      VALUE "LegalCopyright", "Copyright © 2011"
      VALUE "OriginalFilename", "reQuiem.exe"
      VALUE "ProductName", "reQuiem"
      VALUE "ProductVersion", "0.95-b3"
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x1009, 1252
  }
}
2 ICON "quake.ico"
